<!DOCTYPE html>
<html lang="en">
<head>
<!-- meta attributes -->
<meta charset="utf-8">
<meta name="author" content="Jack Gowan">
<meta name="description" content="first built maze">
<title>The Maze - Encounter with the Troll</title>
<link rel="stylesheet" href="/css/a_maze_style.css">
</head>
<body>

  <h1 class="main-title">Reflections on the way ahead</h1>

  <div class="room-container">
    <div class="content-wrapper">
      <div class="room-image">
        <img src="/images/a_maze-start_0.png" alt="Dimly lit dungeon cell">
      </div>
      <div class="room-content">
        <div class="room-text">
          <code>
            <p>You need to keep thinking. There is surely something you have missed. You squint at the stone walls. Perhaps there is something you have missed.</p>
                                        
        </code>
        </div>

        <hr/>

        <div class="navigation">
          <p>How do you respond?</p>
          <a href="/maze/ghost-pre1">head back to the caverns</a>
           <a href="/maze/right-dark">head right into the dark</a>
          <a href="/maze/wait-2">investigate the room</a>
       
        </div>
      </div>
    </div>
  </div>
</body>
</html>