<!DOCTYPE html>
<html lang="en">
<head>
<!-- meta attributes -->
<meta charset="utf-8">
<meta name="author" content="Jack Gowan">
<meta name="description" content="first built maze">
<title>The Maze - Through the Traps</title>
<link rel="stylesheet" href="/css/a_maze_style.css">
</head>
<body>

  <h1 class="main-title">THE MAZE</h1>

  <div class="room-container">
    <div class="content-wrapper">
      <div class="room-image">
        <img src="/images/a4_maze-dark-trap-4-dwarf_2.png" alt="Survival through caution">
      </div>
      <div class="room-content">
        <h1 class="room-title">The trapped Dwarf</h1>

        <div class="room-text">
          <code>
            The dwarf regards you slowly. 
            <p> He's a traveller like you, and like you he is wants to journey to the heart of the maze.</p>
            <p> Both of you know he's done for</p>
            <p> "You need to hear this" The dwarf insists "Go back the other way. The traps ahead will only get harder."
            <p> "Monsters are the other way"</p>    
            <p> "You'll find weapons - you'll be able to kill most things"</p>
            <p> "You are certain, Dwarf? I've seen... things."</p>
            <p> "Get a weapon from the maze. Then you can take out most things... Just don't fight any thing demonic. Hide if you can."</P>    
            <p> "How will I recognise one?"</p>
            <p> "You will know one when you see it"</p>
           </div>

        <div class="navigation">
          <p>What will you do traveller?</p>
          <a href="/maze/dark-trap-4-dwarf-3">You can handle more traps - keep going</a>
          <a href="/maze/left-light">Go back to the start. You've got some info.</a>      
        
        </div>
      </div>
    </div>
  </div>
</body>
</html>
