<!DOCTYPE html>
<html lang="en">
<head>
<!-- meta attributes -->
<meta charset="utf-8">
<meta name="author" content="Jack Gowan">
<meta name="description" content="first built maze">
<title>The Maze - The Golden Chamber</title>
<link rel="stylesheet" href="/css/a_maze_style.css">
</head>
<body>

  <h1 class="main-title">The Golden Chamber of Thirty-Six</h1>

  <div class="room-container">
    <div class="content-wrapper">
      <div class="room-image">
        <img src="/images/a4_maze-dark-trap-6-sanjyu.png" alt="Chamber of chalices">
      </div>
      <div class="room-content">
        <div class="room-text">
          <code>
            <p>The arrows remain still. You survived.</p>
            <p>You step through into a magnificent golden chamber. Before you stands a massive circular table with 36 ornate chalices, each filled with shimmering liquid.</p>
            <p>The chalices are arranged in a perfect 6x6 grid, numbered 1 through 36.</p>
            <p>A skeletal hand clutches a parchment near chalice 13. The warning is clear: all but one contain deadly poison.</p>
            <br>
            <p>The parchment reads:</p>
            <p><em>"Alone you stand, six squared before thee, thirty-five are death's embrace.</em></p>
            <p><em>Seek the number where three and four in sequence trace.</em></p>
            <p><em>A dozen added to this score,</em></p>
            <p><em>Plus eight and zero and add no more,</em></p>
            <p><em>divide by two the friend whispered --</em></p>
            <p><em>And add by three society ordered --</em></p>
            <p><em>subtract one just for fun </em></p>
            <p><em>mindful of those who are done </em></p>  
            <p><em>As high is ceiling and low is floor. </em></p>                
            <p><em>Drink from this and pass through the door."</em></p>
            <br>
            <p>Behind the table, you see a sealed passageway that will only open when the correct chalice is chosen.</p>
          
          </code>
        </div>

        <div class="navigation">
            <p>Which chalice do you drink from?</p>
           <a href="/maze/left-light">You won't drink any. You'll go back to the start</a> 
          <br>
           <a href="/maze/dark-trap-7-hyaku-room-3">Chalice 1</a>
          <a href="/maze/dark-trap-7-hyaku-room-3">Chalice 2</a>
          <a href="/maze/dark-trap-7-hyaku-room-3">Chalice 3</a>
          <a href="/maze/dark-trap-7-hyaku-room-3">Chalice 4</a>
          <a href="/maze/dark-trap-7-hyaku-room-3">Chalice 5</a>
          <a href="/maze/dark-trap-7-hyaku-room-3">Chalice 6</a>
          <a href="/maze/dark-trap-7-hyaku-room-3">Chalice 7</a>
          <a href="/maze/dark-trap-7-hyaku-room-3">Chalice 8</a>
          <a href="/maze/dark-trap-7-hyaku-room-3">Chalice 9</a>
          <a href="/maze/dark-trap-7-hyaku-room-3">Chalice 10</a>
          <a href="/maze/dark-trap-7-hyaku-room-3">Chalice 11</a>
          <a href="/maze/dark-trap-7-hyaku-room-3">Chalice 12</a>
          <a href="/maze/dark-trap-7-hyaku-room-3">Chalice 13</a>
          <a href="/maze/dark-trap-7-hyaku-room-3">Chalice 14</a>
          <a href="/maze/dark-trap-7-hyaku-room-3">Chalice 15</a>
          <a href="/maze/dark-trap-7-hyaku-room-3">Chalice 16</a>
          <a href="/maze/dark-trap-7-hyaku-room-3">Chalice 17</a>
          <a href="/maze/dark-trap-7-hyaku-room-3">Chalice 18</a>
          <a href="/maze/dark-trap-7-hyaku-room-3">Chalice 19</a>
          <a href="/maze/dark-trap-7-hyaku-room-3">Chalice 20</a>
          <a href="/maze/dark-trap-7-hyaku-room-3">Chalice 21</a>
          <a href="/maze/dark-trap-7-hyaku-room-3">Chalice 22</a>
          <a href="/maze/dark-trap-7-hyaku-room-3">Chalice 23</a>
          <a href="/maze/dark-trap-7-hyaku-room-3">Chalice 24</a>
          <a href="/maze/dark-trap-7-hyaku-room-3">Chalice 25</a>
          <a href="/maze/dark-trap-7-hyaku-room-3">Chalice 26</a>
          <a href="/maze/dark-trap-7-hyaku-room-3">Chalice 27</a>
          <a href="/maze/dark-trap-7-hyaku-room-3">Chalice 28</a>
          <a href="/maze/dark-trap-7-hyaku-room-3">Chalice 29</a>
          <a href="/maze/dark-trap-7-hyaku-room-3">Chalice 30</a>
          <a href="/maze/dark-trap-7-hyaku-room-1">Chalice 31</a>
          <a href="/maze/dark-trap-7-hyaku-room-3">Chalice 32</a>
          <a href="/maze/dark-trap-7-hyaku-room-3">Chalice 33</a>
          <a href="/maze/dark-trap-7-hyaku-room-3">Chalice 34</a>
          <a href="/maze/dark-trap-7-hyaku-room-3">Chalice 35</a>
          <a href="/maze/dark-trap-7-hyaku-room-3">Chalice 36</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
