<!DOCTYPE html>
<html lang="en">
<head>
<!-- meta attributes -->
<meta charset="utf-8">
<meta name="author" content="Jack Gowan">
<meta name="description" content="first built maze">
<title>The Maze - The Hall of Doors</title>
<link rel="stylesheet" href="/css/a_maze_style.css">
</head>
<body>

  <h1 class="main-title">The Endless Hall of Fifty Doors</h1>

  <div class="room-container">
    <div class="content-wrapper">
      <div class="room-image">
        <img src="/images/a4_maze-dark-trap-7-hyaku.png" alt="Hall of fifty doors">
      </div>
      <div class="room-content">
        <div class="room-text">
          <code>
            <p>The passage opens. You survived the poison.</p>
            <p>You are in a long corridor. Stretching before you are exactly 50 identical wooden doors, each bearing only a number.</p>
            <p>The air is thick with ancient magic. You know instinctively that choosing wrong means certain death.</p>
            <p>Carved into the stone archway above, you read:</p>
        
            <p><em>"There is a great demon lord.</em></p>
            <p><em> Of all numbers one he likes..."</em></p>
   
            <p>The rest of the text has been destroyed. You search around desparate for another clue but there is nothing else. </p>  
            <p> Who is this mad genious who devised such a riddle? You rack your brain but nothing related to demons and numbers come up.</p>
            <p>The doors seem to pulse with malevolent energy. Screams echo faintly behind some of them.</p>
                  </code>
        </div>

        <div class="navigation">
              <p>Which door do you open?</p>
          <a href="/maze/left-light">head back to the start and go another way</a>
          <br>
          <a href="/maze/dark-trap-8-room-1">Door 1</a>
          <a href="/maze/dark-trap-8-room-1">Door 2</a>
          <a href="/maze/dark-trap-8-room-1">Door 3</a>
          <a href="/maze/dark-trap-8-room-1">Door 4</a>
          <a href="/maze/dark-trap-8-room-1">Door 5</a>
          <a href="/maze/dark-trap-8-room-1">Door 6</a>
          <a href="/maze/dark-trap-8-room-1">Door 7</a>
          <a href="/maze/dark-trap-8-room-1">Door 8</a>
          <a href="/maze/dark-trap-8-room-1">Door 9</a>
          <a href="/maze/dark-trap-8-room-1">Door 10</a>
          <a href="/maze/dark-trap-8-room-1">Door 11</a>
          <a href="/maze/dark-trap-8-room-1">Door 12</a>
          <a href="/maze/dark-trap-8-room-1">Door 13</a>
          <a href="/maze/dark-trap-8-room-1">Door 14</a>
          <a href="/maze/dark-trap-8-room-1">Door 15</a>
          <a href="/maze/dark-trap-8-room-1">Door 16</a>
          <a href="/maze/dark-trap-8-room-1">Door 17</a>
          <a href="/maze/dark-trap-8-room-1">Door 18</a>
          <a href="/maze/dark-trap-8-room-1">Door 19</a>
          <a href="/maze/dark-trap-8-room-1">Door 20</a>
          <a href="/maze/dark-trap-8-room-1">Door 21</a>
          <a href="/maze/dark-trap-8-room-1">Door 22</a>
          <a href="/maze/dark-trap-8-room-1">Door 23</a>
          <a href="/maze/dark-trap-8-room-1">Door 24</a>
          <a href="/maze/dark-trap-8-room-1">Door 25</a>
          <a href="/maze/dark-trap-8-room-1">Door 26</a>
          <a href="/maze/dark-trap-8-room-1">Door 27</a>
          <a href="/maze/dark-trap-8-room-1">Door 28</a>
          <a href="/maze/dark-trap-8-room-2">Door 29</a>
          <a href="/maze/dark-trap-8-room-1">Door 30</a>
          <a href="/maze/dark-trap-8-room-1">Door 31</a>
          <a href="/maze/dark-trap-8-room-1">Door 32</a>
          <a href="/maze/dark-trap-8-room-1">Door 33</a>
          <a href="/maze/dark-trap-8-room-1">Door 34</a>
          <a href="/maze/dark-trap-8-room-1">Door 35</a>
          <a href="/maze/dark-trap-8-room-1">Door 36</a>
          <a href="/maze/dark-trap-8-room-1">Door 37</a>
          <a href="/maze/dark-trap-8-room-1">Door 38</a>
          <a href="/maze/dark-trap-8-room-1">Door 39</a>
          <a href="/maze/dark-trap-8-room-1">Door 40</a>
          <a href="/maze/dark-trap-8-room-1">Door 41</a>
          <a href="/maze/dark-trap-8-room-1">Door 42</a>
          <a href="/maze/dark-trap-8-room-1">Door 43</a>
          <a href="/maze/dark-trap-8-room-1">Door 44</a>
          <a href="/maze/dark-trap-8-room-1">Door 45</a>
          <a href="/maze/dark-trap-8-room-1">Door 46</a>
          <a href="/maze/dark-trap-8-room-1">Door 47</a>
          <a href="/maze/dark-trap-8-room-1">Door 48</a>
          <a href="/maze/dark-trap-8-room-1">Door 49</a>
          <a href="/maze/dark-trap-8-room-1">Door 50</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
