<!DOCTYPE html>
<html lang="en">
<head>
<!-- meta attributes -->
<meta charset="utf-8">
<meta name="author" content="Jack Gowan">
<meta name="description" content="first built maze">
<title>The Maze - Honest Sharing</title>
<link rel="stylesheet" href="/css/a_maze_style.css">
</head>
<body>

  <h1 class="main-title">Truth and Connection</h1>

  <div class="room-container">
    <div class="content-wrapper">
      <div class="room-image">
        <img src="/images/a5_maze-ghost-5.png" alt="The ghost's judgment">
      </div>
      <div class="room-content">
    <div class="room-text">
      <code>
        <p> The long pause drags on and on.</p>
        <p>Then Greg speaks, his voice softer: "Thank you for sharing all of that with me. Come" Greg says "hold my hands and together we will go on the journey of a lifetime."</p>
        <p> Greg's eyes are full white. It seems like he can not see anything. He gestures for you to hold his hands.</p>
        </code>
    </div>
    <hr/>

    <hr/>
    <div class="navigation">
      <p>What will you do:</p>
      <a href="/maze/ghost-greg-end">Hold Greg's hands. Be patient and bide your time</a>
      <a href="/maze/ghost-greg-end">Start playing some love games on Greg</a>
      <a href="/maze/ghost-5">Slip away now. Run while you have the chance</a>
      <a href="/maze/ghost-death-6">He is going blind. Kill him.</a>
    
    </div>
      </div>
    </div>
  </div>
</body>
</html>
