<!DOCTYPE html>
<html lang="en">
<head>
<!-- meta attributes -->
<meta charset="utf-8">
<meta name="author" content="Jack Gowan">
<meta name="description" content="first built maze">
<title>The Maze - First Tale</title>
<link rel="stylesheet" href="/css/a_maze_style.css">
</head>
<body>

  <h1 class="main-title">The Tale of Battle</h1>

  <div class="room-container">
    <div class="content-wrapper">
      <div class="room-image">
        <img src="/images/a5_maze-ghost-2.png" alt="Telling tales to the ghost">
      </div>
      <div class="room-content">
    <div class="room-text">
      <code>
        You tell Greg about how you discovered the maze. The sacrifices you had to make to find it. All the hard training you had to put yourself through. Your fight with the Troll and orcs and the crystal caverns.
        <p>Greg listens intently, its form rippling with interest. When you finish, it makes a sound like distant laughter.</p>
        <p>"Do you like Bailey's?" The being says "Its a smooth creamy liquor."</p>
        <p> "I'm not that thirsty"</p>
        <p>I want to know you. I want to hear all about your past. I want you to tell me everything. Let me pour you a glass and then you tell me all about yourself."</p>
             </code>
    </div>

    <hr/>

    <div class="navigation">
      <p>What is your choice:</p>
      <a href="/maze/ghost-death-2">Shout "Enough of these games - I told you a story. Now fuck off."</a>
       <a href="/maze/ghost-death-2">refuse to drink the bailey's</a>
      <a href="/maze/ghost-3"> Drink the bailey's gladly and tell your backstory in detail</a>
      
    </div>
      </div>
    </div>
  </div>
</body>
</html>
