<!DOCTYPE html>
<html lang="en">
<head>
<!-- meta attributes -->
<meta charset="utf-8">
<meta name="author" content="Jack Gowan">
<meta name="description" content="first built maze">
<title>The Maze - With Alice 7</title>
<link rel="stylesheet" href="/css/a_maze_style.css">
</head>
<body>

  <h1 class="main-title">The Excitement of Escape</h1>

  <div class="room-container">
    <div class="content-wrapper">
      <div class="room-image">
        <img src="/images/a5_maze-alice-8.png" alt="Protecting Alice">
      </div>
      <div class="room-content">
    <div class="room-text">
      <code>
        You take Alice's hand. "Together."
        <p>"We are near the main rune door" Alice pulls at your hand tight "We must hurry".</p>
        <p>Alice squeezes your hand tight. Is it you or has her face changed? Who is she?</p>
        <p>Beyond - a stone rune door.</p>
        <p>"I can't go beyond this door." Alice states. "I can open the door for you. But there will be a price."
        <p>"What price is that?"</p>
        <p>"I will likely be gone from this world."</p>
        <p> "Forever?"</p>
        <p> "I can't say..."</p>
        <p> Deep down you realise that Alice is completely at your command. She will do as you wish.</p>  
      </code>
    </div>

    <hr/>

    <div class="navigation">
      <p>Choose your path:</p>
      <a href="/maze/alice-8">Ask Alice to open the door</a>
      <a href="/maze/alice-death-7">Order Alice away you will solve the rune door by yourself</a>
    </div>
      </div>
    </div>
  </div>
</body>
</html>
