<!DOCTYPE html>
<html lang="en">
<head>
<!-- meta attributes -->
<meta charset="utf-8">
<meta name="author" content="Jack Gowan">
<meta name="description" content="first built maze">
<title>The Maze - With Alice 5</title>
<link rel="stylesheet" href="/css/a_maze_style.css">
</head>
<body>

  <h1 class="main-title">The Guardian Post</h1>

  <div class="room-container">
    <div class="content-wrapper">
      <div class="room-image">
        <img src="/images/a5_maze-alice-5.png" alt="Deeper into the maze with Alice">
      </div>
      <div class="room-content">
    <div class="room-text">
      <code>
        The passage opens eventually into a guard chamber. Weapon racks surround the room you could arm yourself again.
        <p>Two beast men play dice. Engrossed in their game they haven't noticed you yet.</p>
        <p> Reading Alice's signals you are aware that you need to go round the two guards. She grips your arm, breathing rapid and panicked. </p>
        <p> Fighting isn't an option. You can't assassinate both of them at their table.</p>
        <p>A side passage behind a weapons rack. You could sneak to it. Or risk a fight.</p>
        <p>One beast man snorts and looks up. Seconds to act.</p>
      </code>
    </div>

    <hr/>

    <div class="navigation">
      <p>Choose quickly:</p>
      <a href="/maze/alice-6">Shield Alice and sneak toward the side passage together</a>
      <a href="/maze/alice-death-5">Kill them both</a>
    </div>
      </div>
    </div>
  </div>
</body>
</html>
