<!DOCTYPE html>
<html lang="en">
<head>
<!-- meta attributes -->
<meta charset="utf-8">
<meta name="author" content="Jack Gowan">
<meta name="description" content="first built maze">
<title>The Maze - With Alice 8</title>
<link rel="stylesheet" href="/css/a_maze_style.css">
</head>
<body>

  <h1 class="main-title">The Heart of the Maze</h1>

  <div class="room-container">
    <div class="content-wrapper">
      <div class="room-image">
        <img src="/images/a5_maze-alice-72.png" alt="Final moments with Alice">
      </div>
      <div class="room-content">
    <div class="room-text">
      <code>
        Alone you stand in a darkened corridor. There are strange glowing symbols on the celing. Purple rune signs on the floor.
        <p> You are near to the heart of the maze.</p>
        <p> You have found it. </p>
        <p> The creator will pay.</p> 
      </code>
    </div>

    <hr/>

    <div class="navigation">
      <p>You move on:</p>
      <a href="/maze/heart-room-1">Enter the heart of the maze</a>
    </div>
      </div>
    </div>
  </div>
</body>
</html>
