<!DOCTYPE html>
<html lang="en">
<head>
<!-- meta attributes -->
<meta charset="utf-8">
<meta name="author" content="Jack Gowan">
<meta name="description" content="first built maze">
<title>The Maze - With Alice 7</title>
<link rel="stylesheet" href="/css/a_maze_style.css">
</head>
<body>

  <h1 class="main-title">The choice</h1>

  <div class="room-container">
    <div class="content-wrapper">
      <div class="room-image">
        <img src="/images/a5_maze-alice-82.png" alt="Protecting Alice">
      </div>
      <div class="room-content">
    <div class="room-text">
      <code>
        You take Alice's hand. "Open the door"
        <p>"As you so wish."</p>
        <p>She moves you aside and begins to chant. Wild bright light begins to emmanate from the rune door.</p>
        <p>"I've never seen magic like this" You say to yourself mesmerised.</p>
        <p>The runes flare golden. Warmth washes over her and you.</p>
        <p>But the energy is too powerful. You try to call out to her to stop. But nothing comes from your throat.</p> 
        <p>Alice is becoming engulfed in magic fire</p>
      </code>
    </div>

    <hr/>

    <div class="navigation">
      <p>All you can do is stare:</p>
      <a href="/maze/alice-9"> All you can do is look</a>
       </div>
      </div>
    </div>
  </div>
</body>
</html>