<!DOCTYPE html>
<html lang="en">
<head>
<!-- meta attributes -->
<meta charset="utf-8">
<meta name="author" content="Jack Gowan">
<meta name="description" content="first built maze">
<title>The Maze - Wisdom Earned</title>
<link rel="stylesheet" href="/css/a_maze_style.css">
</head>
<body>

  <h1 class="main-title">The flight</h1>

  <div class="room-container">
    <div class="content-wrapper">
      <div class="room-image">
        <img src="/images/a5_maze-ghost-5-flight.png" alt="Earning the ghost's favor">
      </div>
      <div class="room-content">
    <div class="room-text">
      <code>
        <p>As Greg chants on and on lost in a whirlwind of singing, his eyes full on white you carefully ease yourself away from his cave.</p> 
        <p> "jujujugm emreermwm ertmertetm" </p>
        <p> One step at a time you move further and further away.And then you run. You run so hard through deep dark stone tunnels. Your ears bleeding with Greg's chanting.</p>
        <p> "mumumusagm emreermwm ertmertetm"  </p>
        <p> Heart pounding. You just run blindly forward not caring as long as you can get away from that mad man.</p>
        <p> You run down a corridor and keep running</p>
        <p> "Come back to me!!!!" A loud voice booms as you frantically bomb forward.</p>
        <p> Somehow you have escaped from the demon lord. </p>
      <code>
    </div>

    <hr/>

    <div class="navigation">
      <p>You keep moving:</p>
      <a href="/maze/dark-trap-6-sanjyu-golden-room-0">continue</a>
    </div>
      </div>
    </div>
  </div>
</body>
</html>
