<!DOCTYPE html>
<html lang="en">
<head>
<!-- meta attributes -->
<meta charset="utf-8">
<meta name="author" content="Jack Gowan">
<meta name="description" content="first built maze">
<title>The Maze - Chamber of Courage</title>
<link rel="stylesheet" href="/css/a_maze_style.css">
</head>
<body>

  <h1 class="main-title">The Chamber of Courage</h1>

  <div class="room-container">
    <div class="content-wrapper">
      <div class="room-image">
        <img src="/images/a6_maze-heart-room-2.png" alt="Second heart room">
      </div>
      <div class="room-content">
    <div class="room-text">
      <code>
        The second chamber is vast. A walkway leads to a bridge overlooking bottomless depths. There are three monstrous ornate sculptures at the far end. 
        <p> The walkaway leads on to the next chamber or you can go back.</p>
        </code>
    </div>

    <hr/>

    <div class="navigation">
      <p>What would you like to do?</p>
      <a href="/maze/heart-room-2-explore">Explore the room</a>
      <a href="/maze/heart-room-3">Go to the next room </a>
      <a href="/maze/heart-room-1">Go to the previous room </a>
    </div>
      </div>
    </div>
  </div>
</body>
</html>
