<!DOCTYPE html>
<html lang="en">
<head>
<!-- meta attributes -->
<meta charset="utf-8">
<meta name="author" content="Jack Gowan">
<meta name="description" content="first built maze">
<title>The Maze - [ROOM NAME]</title>
<link rel="stylesheet" href="/css/a_maze_style.css">
</head>
<body>

  <h1 class="main-title">THIS IS THE START</h1>

  <div class="room-container">
    <div class="content-wrapper">
      <div class="room-image">
        <img src="/images/a_maze-start.png" alt="Dimly lit dungeon cell">
      </div>
      <div class="room-content">
        <div class="room-text">
          <code>Welcome Traveler. You are at the start of the maze.
            <p>You wake up to find yourself in a dimly lit dungeon cell. You know how you got here but those details are not important right now. Finding the way out of the maze is all that matters.</p>
            A lantern,clearly of elven origin and made of fine silver with little weight about it highlights the bare stone room walls. There is nothing of interest in the room.
            You pickup the lantern and with skillful means unlock the cell door. Nervous you scan the even darker corridor outside.
            <p>To the left you see light upahead and hear stange insect like sounds.</p>
            <p>To the right all is dark and all is calm.</p>
            <p> You are unarmed.</p>  
          </code>
        </div>

        <hr/>

        <div class="navigation">
          <p>Choose your path:</p>
          <a href="/maze/left-light">head left towards the light</a>
          <a href="/maze/right-dark">head right into the dark</a>
         <a href="/maze/wait">wait and think</a>
        </div>
      </div>
    </div>
  </div>
  </body>
  </html>