<!DOCTYPE html>
<html lang="<%= language === 'zh' ? 'zh-TW' : 'en' %>">
<head>
<!-- meta attributes -->
<meta charset="utf-8">
<meta name="author" content="Jack Gowan">
<meta name="description" content="first built maze">
<title>The Maze - Complete</title>
<link rel="stylesheet" href="/css/a_maze_style.css">
</head>
<body>
<h1 class="main-title"><%= translations?.[language]?.title || 'CREDITS' %></h1>

  <div class="room-container">
    <div class="content-wrapper">
      <div class="room-image">
   <img src="/images/a6_maze-heart-room-4-explore.png" alt="Exploring the fourth heart room">
      </div>
      <div class="room-content">
         <div class="room-text">
      <code>
            <%- translations?.[language]?.text || `<p> Story by Jack Gowan</p>
        <p> Illustrations by Jack Gowan (and midjourney)</p>
        <p> Programming by Jack Gowan (and Claude)</p>

        <p> If you liked the game do forward it on</p>
        
        <p> Happy to answer any questions you may have: jackgowan@gmail.com</p>` %>
          </code>
    </div>

    <hr/>

    <div class="navigation">
      
    </div>
      </div>
    </div>
  </div>
</body>
</html>